# ===== Unity 자동 생성 폴더 (폴더 단위 제외) =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# ===== IDE / 시스템 =====
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user

# ===== 확장자 단위 제외 =====
*.psd
*.7z
*.tar.7z
*.dylib
*.dll
*.pdb
*.apk
*.aab

# Mirror Weaver requires these precompiled CecilX assemblies.
!Smartthings_horror2/Assets/Horror Multiplayer Template by Redicion Studio/ThirdParty/Mirror/Plugins/Mono.Cecil/Mono.CecilX.dll
!Smartthings_horror2/Assets/Horror Multiplayer Template by Redicion Studio/ThirdParty/Mirror/Plugins/Mono.Cecil/Mono.CecilX.Mdb.dll
!Smartthings_horror2/Assets/Horror Multiplayer Template by Redicion Studio/ThirdParty/Mirror/Plugins/Mono.Cecil/Mono.CecilX.Pdb.dll
!Smartthings_horror2/Assets/Horror Multiplayer Template by Redicion Studio/ThirdParty/Mirror/Plugins/Mono.Cecil/Mono.CecilX.Rocks.dll

# ===== Node.js =====
node_modules/
npm-debug.log*

# ===== 환경 변수 (절대 커밋 금지) =====
.env
.env.*
